---
import { Image } from "astro:assets";
import about_me from "../../public/about_me_1.png";
import CV from "../../public/CV_2026_v4.png";

interface ProfilePicture {
  title: string;
  image: ImageMetadata;
}

const MyProfilePicture: ProfilePicture = 
{
  title: "This is me in China",
  image: about_me as ImageMetadata
}
---

<section id="contact" class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Know me a little bit more</h2>
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      About me
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="text-[var(--white-icon)]">
        <p class="mb-4">
          Software engineer specialized in engine and tools programming using Unreal Engine and other custom engines. 5 years of experience in the industry. Worked on multiple shipped titles across multiple platforms. In my free time I like to prototype quick gameplay mechanics and try out things in Unreal.
        </p>
        <p class="mb-4">
          Apart from programming, I'm a musician, I play the french horn, I also like climbing.
        </p>
        <div class="flex items-center gap-2">
          <span>Location:</span>
          <span class="text-[var(--white)]">Valencia, Spain</span>
        </div>
      </div>

      <div class="rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-4">
        <a
          target="_blank"
          href=CV
          aria-label="CV"
          class="w-full flex items-center justify-center gap-2 mt-9 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)] hover:scale-105"
        >
          <span class="md:text-lg text-md">Download my CV</span>
        </a>
        <Image
          src={MyProfilePicture.image}
          alt={MyProfilePicture.title}
          class="w-full h-48 md:h-72 object-cover group-hover:scale-105 transition-transform duration-300"
          />
      </div>
    </div>
  </div>
</section>

<script type="module" is:inline>
  const form = document.getElementById("contact-form");
  const formMessage = document.getElementById("form-message");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    try {
      const response = await fetch(form.action, {
        method: "POST",
        body: formData,
        headers: { Accept: "application/json" },
      });
      if (response.ok) {
        form.reset();
        form.style.display = "none";
        formMessage.classList.remove("hidden");
      } else {
        const data = await response.json();
        console.error("Error response:", data);
        alert("There was a problem sending your message.");
      }
    } catch (error) {
      console.error("Error:", error);
      alert("There was a problem sending your message.");
    }
  });
</script>
