---
import { Image } from "astro:assets";
import ProjectCard from "@/components/ProjectCard.astro";

import MCC from "../../public/halo_MCC.png";
import BelowAndBeyond from "../../public/surviving_mars.png";
import DungeonLogo from "../../public/endless_dungeon.png";
import Confidential from "../../public/unreleased_shooter.png";
import PortalSII from "../../public/portal_sii.png";

interface Project {
  title: string;
  image: ImageMetadata;
  id: string;
  preview: string;
  status: string;
  description: string;
  gallery: ImageMetadata[];
}

const projects: Project[] = [
  {
    title: "Halo: The Master Chief Collection",
    image: MCC as ImageMetadata,
    id: "halo_mcc",
    preview: "https://abstraction.games/game/halo-the-master-chief-collection",
    status: "abstraction games",
    description: "this is a test description",
    gallery: [
      MCC as ImageMetadata,
      MCC as ImageMetadata,
    ]
  },
  {
    title: "The Endless Dungeon",
    image: DungeonLogo as ImageMetadata,
    id: "endless_dungeon",
    preview: "https://youtu.be/MlQApTnDdLU",
    status: "abstraction games",
    description: "this is a test description",
    gallery: [
      MCC as ImageMetadata,
      MCC as ImageMetadata,
    ]
  },
  {
    title: "Surviving Mars: Below & Beyond",
    image: BelowAndBeyond as ImageMetadata,
    id: "suma",
    preview: "https://abstraction.games/game/survivingmars",
    status: "abstraction games",
    description: "this is a test description",
    gallery: [
      MCC as ImageMetadata,
      MCC as ImageMetadata,
    ]
  },
  {
    title: "Unreleased AAA first person shooter",
    image: Confidential as ImageMetadata,
    id: "aaa_fps",
    preview: "empty",
    status: "abstraction games",
    description: "this is a test description",
    gallery: [
      MCC as ImageMetadata,
      MCC as ImageMetadata,
    ]
  },
  {
    title: "Portal SII",
    image: PortalSII as ImageMetadata,
    id: "portal_sii",
    preview: "empty",
    status: "AHORA freeware",
    description: "this is a test description",
    gallery: [
      MCC as ImageMetadata,
      MCC as ImageMetadata,
    ]
  },
];
---

<section
  id="professional_projects"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Work produced as part of a company</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Industry Experience</h3> 

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        projects.map((project) => (
          <ProjectCard project={project} />
        ))
      }
    </div>
  </div>
</section>
